<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>This is NOT a 404 error... er... okay, so maybe it is...</title>
	</head>
	<body>
		<div class="outer">
		
			<div class="maincontent">
              <img src="/images/ladbrokes_missing_funny_bone_ad.jpg" alt="Missing page - ERROR 404" class="right">
			<h1>Seriously?!</h1>
			<p>You were looking for what page?</p>
              <p>Here are some things you are more likely to find than that page:</p>
                <ul>
                  <li>The guy on the poster to the right.</li>
                  <li>Mr right at a sleazy bar</li>
                  <li>A cold</li>
                  <li>A bag full of puppies</li>
                </ul>
              <hr />
              <p>You may however find solace in a page that actually exists:</p>
			<a href="/">Take me back</a>
			</div>
		</div>
	</body>
</html>