<html>
	<head>
		<title>This is NOT a 500 error... er...</title>
	</head>
	<body>
		<div class="outer">
		
			<div class="maincontent">
			<h1>Important notice</h1>
			<p>If you are a user... Please note that this is not an HTTP500 error</p>
			<p>It simply means you are being a tool... Now stop it and don't muck around!</p>
			</div>
		</div>
	</body>
</html>