<html>
	<head>
		<title>This is NOT a 404 error... er...</title>
	</head>
	<body>
		<div class="outer">
		
			<div class="maincontent">
			<h1>Important notice</h1>
			<p>You have been found to be a naughty naughty hacker! Don't blame it on an HTTP404 error. You know you are guilty!</p>
			<p>STOP IT... or else...</p>
			
			</div>
		</div>
	</body>
</html>