<html>
	<head>
		<title>This is NOT a 500 error... er...</title>
	</head>
	<body>
		<div class="outer">
		
			<div class="maincontent">
              <img src="/images/caught_with_your_pants_down.jpg" alt="ERROR 500" class="left">
			<h1>Okay</h1>
			<p>It looks like you caught us with our pants down.</p>
              <p>Before writing to &quot;Hello Peter&quot; - rather let us know about this error.</p>
              <p>You can do so by mailing us at: <a href="mailto:johanp@strate.co.za">johanp@strate.co.za</a></p>
			<hr />
              <p>Alternatively you may want to just go back to our awesome main page. Do so by clicking
              on the link below:</p>
			<a href="/">Take me back</a>
			</div>
		</div>
	</body>
</html>