<html>
	<head>
		<title>Hello World</title>
	</head>
	<body>
		<div class="outer">
		
			<div class="maincontent">
			<h1>Hello World!</h1>
			<h3>Here are some of my vitalstatistix (<a href="http://en.wikipedia.org/wiki/List_of_Asterix_characters">or maybe more aptly some of my Cacophonix)</a>:</h3>
			<img src='/images/joe.jpg' class ='left' />
			<p>My name is Johan Pretorius, student number 920107585, blah blah blah blah...</p>
			<p>Who cares! Here are some fun stuff about me:
				<ul>
					<li>I dive with sharks</li>
					<li>Lived in Mexico for six months, entonces... yo hablo espanol muy bien</li>
					<li>I love guns - big guns, small guns, shotguns, handguns... they all make me smile</li>
					<li>Favorite book - The hitch hikers&apos; guide to the galaxy</li>
					<li>I dig parkour... but a noob accident caused my knee to pop and I can never do it again... So sad</li>
				</ul>
			</p>
			<p>
				<sub>P.s. Miss Leung... I have a friend at the office who keeps on bugging me to say hi to you... So here goes: <strong> "Elli says hi"</strong>. Phew - glad that is done</sub>
			</p>
			<hr />
			<h1>Cause Some Havoc</h1>
			<a href="/say/error_500" />Trigger Error 500 - by causing a DivideByZero Exception</a><br />
			<a href="/kwagga" />Trigger error 404 - by linking to /kwagga</a>
			</div>
		</div>
	</body>
</html>